#footer {
    /*border: 1px solid grey;*/
}

#footer>.footop {
    width: 1200px;
    height: 180px;
    margin: 0px auto 20px auto;
    /* border: 1px solid red;*/
}

#footer>.footop>.left {
    width: 495px;
    height: 140px;
    padding: 20px 30px;
    background: #eee;
    float: left;
}

#footer>.footop>.left>.head {
    font-size: 30px;
    line-height: 40px;
    color: #333;
    font-family: Tahoma, Arial;
    margin: 0;
    padding: 0;
}

#footer>.footop>.left>ul {
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 22px;
    list-style: disc inside;
}

#footer>.footop>.left>ul>li {
    color: #666;
    font-size: 14px;
    line-height: 22px;
    display: list-item;
    font-weight: 400;
    font-family: Verdana, Tahoma, Arial;
}

#footer>.footop>.right {
    float: right;
    width: 576px;
    height: 140px;
    padding: 20px 30px;
    margin-left: 5px;
    background: #eee;
}

#footer>.footop>.right>.t {
    padding: 8px 0 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: tahoma;
    margin-bottom: 12px;
    margin-top: 5px;
    text-align: left;
}

#footer>.footop>.right>.subs {
    margin: 5px 0;
}

#footer>.footop>.right>.subs>.txt {
    width: 68%;
    height: 23px;
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(100, 100, 100, .3) inset;
    font-size: 12px;
    line-height: 35px;
    vertical-align: middle;
    cursor: auto;
    font-family: inherit;
    background-color: white;
    font: 400 13.3333px Arial;
    margin: 0;
    float: left;
}

#footer>.footop>.right>.subs>button {
    box-shadow: none;
    margin: 1px 0 0 5px;
    width: auto;
    height: 35px;
    overflow: visible;
    padding: 0 30px 0 10px;
    border: none;
    border-radius: 3px;
    background: url(../image/footer/r.png) right center no-repeat #ff6000;
    color: #fff;
    line-height: 35px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}

#footer>.footop>.right>.credit {
    font-family: Verdana, Tahoma, Arial;
    font-size: 14px;
    font-weight: 400;
    margin: 9px 0;
    color: #333;
}

#footer>.footop>.right>.credit>b {
    font-family: Verdana, Tahoma, Arial;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-right: 5px;
}

#footer>.footop>.right>.gift {
    font-family: Verdana, Tahoma, Arial;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0;
    color: #333;
}

#footer>.footop>.right>.gift>b {
    font-family: Verdana, Tahoma, Arial;
    font-size: 18px;
    font-weight: 700;
    color: #f66907;
    margin-left: 5px;
}

#footer>.secfoot {
    width: 1200px;
    height: 163px;
    padding: 20px 0 20px 0px;
    margin: 20px auto;
    background: #eee;
}

#footer>.secfoot>ul:nth-child(1) {
    margin-left: 30px;
}

#footer>.secfoot>ul {
    padding-left: 5px;
    margin: 0;
    list-style: none;
    float: left;
    /*border: #333 solid 1px;*/
    width: 19%;
    height: 100%;
}

#footer>.secfoot>ul>.top {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #333333;
    margin-bottom: 20px;
}

#footer>.secfoot>ul>.normal:hover {
    cursor: pointer;
    color: #f66907;
}

#footer>.secfoot>ul>.normal {
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #666;
    margin-bottom: 10px;
    margin-left: 8px;
}

#footer>.secfoot>ul>.non {
    font-weight: 700;
}

#footer>.secfoot>ul>.social:hover {
    cursor: pointer;
}

#footer>.secfoot>ul>.social {
    overflow: hidden;
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 18px 6px 0;
    padding: 0;
    /*border: #333 solid 1px;*/
    background: url(../image/footer/follow.png) no-repeat
}

#footer>.secfoot>ul>.social:nth-child(1) {
    background-position: 0 0;
}

#footer>.secfoot>ul>.social:nth-child(2) {
    background-position: -76px 0;
}

#footer>.secfoot>ul>.social:nth-child(3) {
    background-position: -114px 0;
}

#footer>.secfoot>ul>.social:nth-child(4) {
    background-position: -190px 0;
}

#footer>.secfoot>ul>.social:nth-child(5) {
    background-position: -266px 0;
}

#footer>.secfoot>ul>.social:nth-child(6) {
    background-position: -38px 0;
}

#footer>.secfoot>ul>.social:nth-child(7) {
    background-position: -228px 0;
}

#footer>.secfoot>ul>.social:nth-child(8) {
    background-position: -152px 0;
}

#footer>.cc {
    width: 100%;
    height: 150px;
    background: #eee;
}

#footer>.cc>.copy {
    width: 1200px;
    height: 110px;
    margin: 10px auto;
    padding: 20px 0;
    /*  border: 1px solid gray;*/
}

#footer>.cc>.copy>.p1 {
    /* border: 1px solid red;*/
    padding: 0;
    text-align: center;
    font-family: Verdana, Tahoma, Arial;
    font-weight: 700;
    font-size: 11px;
    color: #333333;
    margin: 0 0 10px 0;
}

#footer>.cc>.copy>.p2,
#footer>.cc>.copy>.p3 {
    /*border: 1px solid red;*/
    padding: 0;
    text-align: center;
    font-family: Verdana, Tahoma, Arial;
    font-weight: 400;
    font-size: 11px;
    color: #333333;
    line-height: 16px;
    margin: 0;
}

#footer>.cc>.copy>.p3 {
    margin-bottom: 10px;
}

#footer>.cc>.copy>.p4 {
    /*  border: 1px solid red;*/
    padding: 0;
    text-align: center;
    font-family: Verdana, Tahoma, Arial;
    font-weight: 400;
    font-size: 11px;
    color: #333333;
    line-height: 16px;
    margin: 0;
}

#footer>.lastfoot {
    width: 840px;
    /*height: 96px;*/
    margin: 20px auto;
    /*border: 1px solid green;*/
}

#footer>.lastfoot>.top {
    width: 800px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    /* border: 1px solid green;*/
}

#footer>.lastfoot>.top>li:hover {
    cursor: pointer;
}

#footer>.lastfoot>.top>li {
    float: left;
    width: 72px;
    height: 36px;
    /*border: 1px solid red;*/
    margin: 10px 3px 0 3px;
}

#footer>.lastfoot>.top>li>img {
    width: 100%;
    height: 100%;
}

#footer>.lastfoot>.bottom {
    width: 607px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    /*border: 1px solid green;*/
}

#footer>.lastfoot>.bottom>li:hover {
    cursor: pointer;
}

#footer>.lastfoot>.bottom>li {
    float: left;
    width: 72px;
    height: 36px;
    /*border: 1px solid red;*/
    margin: 10px 3px 0 3px;
}

#footer>.lastfoot>.bottom>li>img {
    width: 100%;
    height: 100%;
}

#footer>.lastfoot>.bottom>.big {
    width: 115px;
}


/*==============================================================*/

#sidebar {
    width: 42px;
    height: 330px;
    position: fixed;
    top: 30%;
    right: 50%;
    margin-right: -700px;
    z-index: -10;
    opacity: 0;
    transition: 0.5s;
}

#sidebar.side {
    z-index: 200;
    opacity: 1;
    transition: 0.5s;
}

#sidebar>div:hover {
    cursor: pointer;
}

#sidebar>div {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 40px;
    height: 40px;
}

#sidebar>.side1 {
    border-top: 1px solid #ccc;
    background: url(../image/footer/bbw.png) -50px -180px no-repeat;
}

#sidebar>#side2:hover {
    transition: 0.3s;
    background: #f66907 url(../image/footer/damn.png) -60px 0px no-repeat;
}

#sidebar>#side2 {
    transition: 0.3s;
    position: relative;
    background: #ffffff url(../image/footer/damn.png) 0px 0px no-repeat;
}

#sidebar>#side3:hover {
    transition: 0.3s;
    background: #f66907 url(../image/footer/damn.png) -60px -42px no-repeat;
}

#sidebar>#side3 {
    transition: 0.3s;
    position: relative;
    background: #ffffff url(../image/footer/damn.png) 0 -42px no-repeat;
}

#sidebar>#side4:hover {
    transition: 0.3s;
    background: #f66907 url(../image/footer/damn.png) -60px -83px no-repeat;
}

#sidebar>#side4 {
    transition: 0.3s;
    position: relative;
    background: #ffffff url(../image/footer/damn.png) 0 -83px no-repeat;
}

#sidebar>#side5:hover {
    transition: 0.3s;
    background: #f66907 url(../image/footer/damn.png) -60px -126px no-repeat;
}

#sidebar>#side5 {
    transition: 0.3s;
    position: relative;
    background: #ffffff url(../image/footer/damn.png) 0 -126px no-repeat;
}

#sidebar>.side6:hover {
    transition: 0.3s;
    background: #f66907 url(../image/footer/damn.png) -60px -166px no-repeat;
}

#sidebar>.side6 {
    transition: 0.3s;
    background: #ffffff url(../image/footer/damn.png) 0 -166px no-repeat;
}

#sidebar>.side7:hover {
    transition: 0.3s;
    background: #f66907 url(../image/footer/damn.png) -60px -206px no-repeat;
}

#sidebar>.side7 {
    transition: 0.3s;
    background: #ffffff url(../image/footer/damn.png) 0 -206px no-repeat;
}

#sidebar>#side8:hover {
    transition: 0.3s;
    background: #f66907 url(../image/footer/damn.png) -60px -246px no-repeat;
}

#sidebar>#side8 {
    transition: 0.3s;
    background: #ffffff url(../image/footer/damn.png) 0 -246px no-repeat;
}

#sidebar>div:hover>.barbar {
    transition: 0.3s;
    width: 156px;
    cursor: pointer;
    z-index: 2000;
}

#sidebar>div>.barbar {
    position: absolute;
    transition: 0.3s;
    width: 0;
    height: 40px;
    background-color: #f66907;
    top: 0;
    right: 100%;
    line-height: 40px;
    color: #fff;
    font-family: Verdana, Tahoma, Arial;
    text-align: center;
    font-size: 14px;
    z-index: -500;
    overflow: hidden;
}