        .sliderhor {
            overflow: hidden;
            position: relative;
            /*border: 1px solid #ccc;*/
            width: 776px;
            height: 239px;
        }
        
        .sliderhor>.galleryhor {
            /*border: 1px solid red;*/
            transition: 0.5s;
            position: relative;
            left: 0;
            width: 300%;
            height: 100%;
        }
        
        .sliderhor>.galleryhor>.items {
            /*border: 1px solid red;*/
            float: left;
            width: 33.33%;
            height: 100%;
        }
        
        .sliderhor>.galleryhor>.items>.it {
            float: left;
            width: 25%;
            position: relative;
            height: 100%;
        }
        
        .sliderhor>.galleryhor>.items>.it>.image {
            width: 160px;
            height: 160px;
            margin: 6px 17px;
        }
        
        .sliderhor>.galleryhor>.items>.it>.tozih:hover {
            transition: 0.3s;
            color: #f66907;
            cursor: pointer;
        }
        
        .sliderhor>.galleryhor>.items>.it>.tozih {
            width: 90%;
            height: 32px;
            margin: 6px auto 0;
            font-weight: 400;
            text-align: center;
            line-height: 17px;
            font-size: 14px;
            color: #333;
            font-family: Verdana, Tahoma, Arial, Bold, Regular;
        }
        
        .sliderhor>.galleryhor>.items>.it:hover>.price {
            background: #f66907 url(../image/content/basketwhite.png) no-repeat 95% center;
            color: white;
            cursor: pointer;
            transition: 0.3s;
        }
        
        .sliderhor>.galleryhor>.items>.it>.price {
            background: url(../image/content/basketwhite.png) no-repeat 95% center;
            height: 30px;
            margin-top: 5px;
            font-weight: 700;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            color: #f66907;
            font-family: Verdana, Tahoma, Arial, Bold, Regular;
        }
        
        .sliderhor>.galleryhor>.items>.it>.mark {
            position: absolute;
            right: 0;
            top: 0;
            height: 40px;
            width: 50px;
            padding: 10px 0 0;
            background: url(../image/content/purple.png) no-repeat;
            background-size: 45px;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            text-align: center;
            font-family: Verdana, Tahoma, Arial;
        }
        
        .sliderhor>.galleryhor>.items>.it>.thumb {
            position: absolute;
            right: 0;
            top: 0;
            height: 40px;
            width: 50px;
            padding: 10px 0 0;
            background: url(../image/content/tag_sp_p24.png) no-repeat;
            background-size: 45px;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            text-align: center;
            font-family: Verdana, Tahoma, Arial;
        }
        
        .sliderhor>.righthor:hover {
            transition: 0.3s;
            background: url(../image/content/rightg.png) no-repeat 1px 0;
            cursor: pointer;
        }
        
        .sliderhor>.righthor {
            background: url(../image/content/rightw.png) no-repeat;
            position: absolute;
            top: 45%;
            right: 7px;
            width: 15px;
            height: 23px;
        }
        
        .sliderhor>.lefthor:hover {
            transition: 0.3s;
            background: url(../image/content/leftg.png) no-repeat;
            cursor: pointer;
        }
        
        .sliderhor>.lefthor {
            background: url(../image/content/leftw.png) no-repeat;
            position: absolute;
            top: 45%;
            left: 7px;
            width: 15px;
            height: 23px;
        }